@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::selection {
  background: white;
  color: black;
}

::-moz-selection {
  background: white;
  color: black;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica.otf') format('truetype');
}

@font-face {
  font-family: 'Tondu';
  src: url('/fonts/Tondu-Beta.ttf') format('truetype');
}

body, html {
  cursor: none;
}

a, button, input, textarea {
  cursor: none !important;
}

.coolvetica {
  font-family: 'Coolvetica', sans-serif;
}

.tondu {
  font-family: 'Tondu', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
